/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
}

.container {
    background-color: #ffffff; /* White container background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

.search-form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

#pokemon {
    padding: 8px;
    width: 200px;
    box-sizing: border-box;
}

.search-button {
    background-color: #4caf50; /* Green button color */
    color: #ffffff; /* White text color */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
