/* static/css/result.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #FFD6E0, #74B9FF, #ffffff); /* Pink, Blue, White gradient background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 40px auto; /* Increased margin for space above and below */
    background: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #3498db; /* Blue border for the table */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.fixed-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}
