<!-- no_game_recommendations.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>No Game Recommendations</title>
</head>
<body>
    <div class="container">
        <h2>Sorry, no game recommendations available for {{ category }}.</h2>
        <a href="/">Go back to preferences</a>
    </div>
</body>
</html>
