<html>
    <head>
        <title>HOME PAGE</title>
    
    </head>
    <Body>
        <h1>HOME PAGE</h1>
            <form action="/choose" method="post">
                <div>
                    <label>Which Page:</label>
                    <button type="submit" name="page" value="about">About</button>
                    <button type="submit" name="page" value="contact">Contact</button>
                    <button type="submit" name="page" value="blog">Blog</button>
                    <button type="submit" name="page" value="home">Home</button>
                </div>
            </form>
    </body>
</html>