<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Chat</title>
</head>
<body>
    <ul id="messages"></ul>
    <input id="username_input" placeholder="Enter your username" autocomplete="off" />
    <input id="message_input" placeholder="Type your message" autocomplete="off" />
    <button onclick="sendMessage()">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        var usernameInput = document.getElementById('username_input');
        var messageInput = document.getElementById('message_input');

        socket.on('message', function(data) {
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(data.username + ': ' + data.message));
            ul.appendChild(li);
        });

        function sendMessage() {
            var username = usernameInput.value;
            var message = messageInput.value;
            socket.emit('message', {'username': username, 'message': message});
            messageInput.value = '';
        }
    </script>
</body>
</html>
